* {
    background-color: #17181c;
    font-family: 'Poppins', 'sans-serif' ;
}

.compass {

    display: flex;
    flex-direction: row;
    align-items:flex-start;
    background: #1E1F23;
    width: 250px;
    height: 146vh;
    padding: 42px 10px 42px 8px;
    flex: none;
    order: 0;
    flex-grow: 1;
    border-width: 2px 2px 2px 0px;
    border-style: solid;
    border-color: #2E2F36
    
}

.home {
    position: absolute;
    top: 1px; 
    left: 272px; 
    padding: 25px;
    width: 1025px;
    height: 13px;
    background: #1E1F23;
    border-width: 2px 2px 2px 0px;
    border-style: solid;
    border-color: #2E2F36;
    color: #ffffff;
    font-weight: 500;
    margin-top: 0;
    margin-left: 0;
         

    color: #ffffff;
    font-weight: 500;
}

.footer {
    position: absolute;
    top: 20px; 
    right: 550px;
    background: #1E1F23;; 

}

.fa-home {
    margin: 20px;
    left: 530px;
    width: 20px;
    color:#f5f5f5;
    z-index: 1;
    margin-top: 12px;
    background-color: #1E1F23;    
}

.flor {
    position: absolute;
    top: 20px; 
    left: 950px;
    background: #1E1F23;; 

}

.icons {
    display: flex;
    position: absolute;
    background: #1E1F23;
    justify-content:flex-start;
    align-items: flex-start;
    padding: 16px;
    border: 2px solid #2E2F36;
    border-radius: 16px;
    width: 680px;
    height: 120px;
    flex: none;
    order: 0;
    flex-grow: 0;
   
 }

.button{
    border-radius: 5px;
    border-width: 2px;
    border-color: #2E2F36;;
    font-family: 'Poppins';
    color: #FFFFFF;
    position: absolute;
    left: 600px;
    bottom: 20px;
    width: 100px

}

.textBox {
    color: #4f4f55;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 24px;

    width: 630px;
    height: 37px;

  
    border-radius: 46px;

}

.container {
    text-align:left;
    background-color: #1E1F23;
  }
  
  .fa-photo,
  .fa-img, .fa-clip, .fa-map, .fa-smile {
    display: inline-block;
    width: 20px;
    height: 60px;
    background-color: #1E1F23;
  }

  
  .fa-img, .fa-clip, .fa-map, .fa-smile {
    margin-left: 20px;
  }

  
.post{
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    padding: 24px 20px;
    gap: 24px;
    margin-left: auto;

    width: 230px;
    height: 272px;

    background: #1E1F23;
    border: 2px solid #2E2F36;
    border-radius: 16px;

    flex: none;
    order: 0;
    flex-grow: 0;
    overflow: hidden;
}

.friends{
    background: #1E1F23;
    margin-top: -10px;

}
.post2{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 16px 0px;
    gap: 16px;

    width: 716px;
    height: 709px;
    margin-top: -150px;

    background: #1E1F23;


    border: 2px solid #2E2F36;
    border-radius: 16px;

    flex: none;
    order: 1;
    align-self:flex-start;
    flex-grow: 0;
}

.paragraph {
    width: 678px;
    height: 36px;

    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    padding: 10px;

    flex: none;
    order: 1;
    flex-grow: 0;

    background-color:#1E1F23;
}

.ilha {
    width: 710px;
    height: 300px;
    flex: none;
    order: 1;
    align-self: stretch;
    flex-grow: 0;

}

.Post3 {
    display: flex;
    flex-direction: row;
    
    align-items: center;
    padding: 10px 24px;

    width: 620px;
    height: 37px;
    margin-top: -180px;



    background: #27282F;
    border-radius: 46px;



    flex: none;
    order: 1;
    flex-grow: 1;
}

